click
json_repair
prettytable
pycryptodome
orjson
requests
cryptography
fake_useragent
pathvalidate
rich
emoji
bleach
beautifulsoup4
aigpy
av
tabulate
mutagen
ytmusicapi
m3u8
pywidevine
tinytag
curl_cffi
platformdirs
lxml
prompt_toolkit